
logs/*
*.h5
ncsmodel_old/*
*.data-.*
*ckpt.meta
*ckpt.meta
*.pb
*graph
graph
frozen.pb
checkpoint
ncsmodel/*
ncstinyyolo/*
videos/*
h5files/*
__pycache__/*
model_coco_person_map1.47/*
*.npy
*.csv
*.txt
*.zip

